.antiButton {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}

.popOverMenu {
    position: absolute;
    background-color: antiquewhite;
    z-index: 1000;
}