.smileyButton {
    font-size: 200%;
    border-top: #ffffff;
    border-left: #ffffff;
    border-bottom: #7e7c87;
    border-right: #7e7c87;
    border-style: solid;
    border-width: 5px;
    border-radius: 2px;
    height: 64px;
    width: 64px;
    text-align: center;
    padding: 0;
    margin: 0;
}